<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo_app"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.FlowModor"
        tools:targetApi="31">
        <activity
            android:name=".ProductividadActivity"
            android:exported="false" />
        <activity
            android:name=".ConcentracionActivity"
            android:exported="false" />
        <activity
            android:name=".Terminos"
            android:exported="false" />
        <activity
            android:name=".CuestionarioActivity"
            android:exported="false" />
        <activity
            android:name=".FlowmodoroActivity"
            android:exported="false" />
        <activity
            android:name=".PomodoroActivity"
            android:exported="false" />
        <activity
            android:name=".HighTaskingActivity"
            android:exported="false" />
        <activity
            android:name=".RecuperarContraseya"
            android:exported="true" />
        <activity
            android:name=".EstadisticasActivity"
            android:exported="true"
            tools:ignore="ExtraText" />
        <activity
            android:name=".EstudioActivity"
            android:exported="true" />
        <activity
            android:name=".AjustesActivity"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RegistroActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />

                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>